<div class="container">
    <div class="image-holder">
        <img id="image" src="https://www.artic.edu/iiif/2/e966799b-97ee-1cc6-bd2f-a94b4b8bb8f9/full/843,/0/default.jpg" alt="">
    </div>
    <div class="content">
        <div class="main">
            <div id="title" class="title">
                Starry Night
            </div>
            <div id='year' class="year">
                1900
            </div>
            <div id='artist' class="artist">
                Arthur
            </div>
            <div class="fav">
                <i id='fav-icon' class="fa-regular fa-heart" style="color: #ff1f2a;"></i>
                &nbsp; Add to Favourites
                &nbsp;
                <a  href="https://twitter.com/intent/tweet"><i class="fa-solid fa-share"></i></a>
                &nbsp;
                Share
            </div>
            <div id='desc' class="desc">

            </div>

            <table id="table">

            </table>
        </div>
    </div>
</div>