.header-container{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3%;


    .header{
        display: flex;
        width: 90%;
        height: 100%;
        border-bottom: 1px solid grey;
        flex-direction: column;
        padding-bottom: 3%;

        .header-text{
            display: flex;
            height: 50%;
            width: 85%;
            align-items: flex-end;
            color: grey;
            font-family: 'Montserrat';
            font-size: 1.5em;
            font-weight: 300;
            margin-top: 3%;
        }
        .artwork{
            margin-top: 3%;
            font-size: 1.5em;
            font-family: 'Montserrat';
            font-weight: 400;
            
            #artworks{
                text-decoration: none;
                color: black;

            }
            #favourites{
                text-decoration: none;
                color: black;
            }
        }
    }
}